html {
  height: 100%;
  box-sizing: border-box;
}
*, *::after,*::before{
  box-sizing: inherit;
}
.box_sizing_content{
  box-sizing: content-box;
}
body{
  height: 100%;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Trebuchet MS', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;

	box-sizing: border-box;
}
.inner_page{
	color: #ffffff;
}

a{
	color: #ffffff;
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main_btn{
	display: inline-block;

	color: #ffffff;

	background-color: #f26843;
	background-image: linear-gradient(to top, rgba(231, 74, 53, 1) 0%, rgba(242, 104, 67, 1) 100%);
	border: none;
	border-radius: 11%/50%;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.main_btn:hover,
.main_btn:focus{
	background-color: #ffffff;
	background-image: linear-gradient(to top, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.main_btn:active{
	background-color: #f26843;
	background-image: linear-gradient(to bottom, rgba(231, 74, 53, 1) 0%, rgba(242, 104, 67, 1) 100%);
	box-shadow: 0 -2px 2px rgba(172, 16, 0, 0.64);
}

.main_form{
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 10px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.input_field{
	background-color: #ffffff;
	border: 1px solid rgba(154, 154, 154, 0.52);
	border-radius: 5px;
}
.input_field:hover{
	box-shadow: inset 0px 0px 1px 1px rgba(154, 154, 154, 0.52);
	
}
.input_field:focus{
	border-color: rgba(46, 136, 228, 0.52);
	box-shadow: inset 0px 0px 1px 1px rgba(46, 136, 228, 0.52);
	
}
.standart_link{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.standart_link:hover,
.standart_link:focus{
	color: #ffbc9e;

	border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.standart_link:active{
	color: #ffbc9e;

	border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.main_nav .current_page,
.main_nav .current_page:hover,
.main_nav .current_page:active{
	color: #ffffff;

	background-color: #d07058;
	border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
	min-width: 900px;

	background-color: #849d8f;
	background-image: url(../img/icecream_bg_1.png);
	background-position: top center;
	background-repeat: no-repeat;
}
.inner_page .container{
	background-image: none;
}
.inner_page .page_active{
	background-color: #d07058;
}
.site_wrap{
	max-width: 1200px;
	margin: 0 auto;
}
.block_wrap{
	padding: 9px 2.25% 0;

}
main .block_wrap,
footer .block_wrap{
	padding-top: 0;
}

/* Header */

.header_main{
  display: flex;
  justify-content: space-between;
}
.header_left_column{
	display: flex;
	flex-grow: 1;
  width: 560px;
}
.header_right_column{
	display: flex;
  width: 300px;
}
.logo_block{
	margin-right: 10px;

	font-size: 0;
	line-height: 0;
}
.logo_block img{
	max-width: 154px;
	margin: 0;
	padding: 0;
}
.main_nav{
	flex-grow: 1;
}
.main_nav_item{
	margin-right: 3px;
	margin-top: -4px;
}
.main_nav_item:last-child{
	margin-right: 0;
}
.main_menu{
	position: relative;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;

	list-style: none; 
}
.main_nav_item a{
	position: relative;
	display: inline-block;

	padding: 7px 13px 6px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	
	background-color: transparent;
	border-radius: 20px;
	/* border-bottom: 5px solid transparent; */
}
.main_nav_item a:hover,
.main_nav_item a:focus{
	color: #333333;

	background-color: #f7f6f3;
	/* border-bottom: 5px solid transparent; */
}
.main_nav_item a:active{
	background-color: #ededed;
	box-shadow: inset 0 2px 1px #696969;
}

.catalog_container{
	position: absolute;
	top: 51px;
	left: -7px;
	z-index: 20;

	display: none;
	width: 143px;
	margin: 0;
	padding: 4px 0px 8px;

	border-radius: 5px;
	list-style: none;
}
.catalog_link:hover .catalog_container{
	display: block;
}
.catalog_item .catalog_novelty{
	position: relative;

	margin-bottom: 10px;

	font-weight: 700;
}
.catalog_novelty::after{
	content: '';

	position: absolute;
	top: 34px;
	left: 5px;

	width: 92%;
	height: 1px;

	background-color: rgba(0, 0, 0, 0.2);
}
.catalog_item a{
	display: block;
	margin-bottom: 3px;
	padding: 6px 5px 6px 20px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;

	border-bottom: none;
}
.catalog_item:last-child a{
	margin-bottom: 0;
}
.catalog_item a:hover,
.catalog_item a:focus{
	padding: 6px 5px 6px 20px;

	background-color: #fbded7;
	border-radius: 0;
}
.catalog_item a:active{
	background-color: #f6b5a5;
	box-shadow: none;
}

.user_nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	margin-bottom: 22px;
	padding: 0;

	list-style: none;
}
.user_nav_item{
	margin-right: 10px;
}

.user_nav_item:last-child{
	margin-right: 0;
}
.user_nav_link{
	position: relative;

	display: inline-block;
	margin-top: -4px;
	padding: 8px 16px 8px;
	padding-left: 45px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}
.user_nav_link:hover,
.user_nav_link:focus{
	color: #323232;

	background-color: #ffffff;
}
.user_nav_link_search{
	padding: 8px;

	font-size: 0px;
	line-height: 0;
}
.user_nav_link svg{
	position: absolute;
	top: 6px;
	left: 17px;

	fill: #ffffff;
}
.user_nav_link:hover svg,
.user_nav_link:focus svg{
	fill: #000000;
}
.user_nav_link_search svg{
	position: static;
	margin-right: 0px;
}

.contacts_header{
	width: 267px;
	margin-left: auto;
	margin-bottom: 40px;

	text-align: right;
}
.contacts_header p{
	margin: 0;
	margin-bottom: 4px;
	padding: 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}
.contacts_header a{
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}
.contacts_header a:hover,
.contacts_header a:hover,
.contacts_header a:active{
	color: #ffbc9e;
}

/* Footer */

.footer_main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 19px 0 23px;
}

.social_btn_container{
	display: flex;
	width: 267px;
}
.social_btn_item{
	margin-right: 11px;
	margin-bottom: -14px;

	font-size: 0px;
}
.social_btn_item:last-child{
	margin-right: 0;
}
.social_btn_item svg{
	width: 38px;
	height: 38px;

	vertical-align: middle;

	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	fill: rgba(255, 255, 255, 0.8);

}
.social_btn_item:hover svg,
.social_btn_item:focus svg{
	border-color: rgba(255, 255, 255, 0.7);

	fill: #ffffff;
}
.social_btn_item:active svg{
	border-color: rgba(255, 255, 255, 0.7);

	fill: rgba(233, 233, 233, 1);
}

.info_links_container{
	display: flex;
	justify-content: center;
	width: 560px;
}
.info_links_block{
	margin: 0;
	margin-bottom: -8px;
	padding: 0;

	list-style: none;
}
.info_links_block:first-child{
	margin-right: 32px;
}
.copyrights_logo{
	align-self: center;
}
.info_links_block a{
	font-size: 13px;
	line-height: 18px;
}
.info_links_block span{
	position: relative;

	font-weight: 700;
}
.info_links_block span::before{
	content: '';

	position: absolute;
	top: -3px;

	display: block;
	width: 15px;
	height: 13px;
	margin: 5px -20px;

	background-image: url(../img/heart.svg);
}

.copyrights_container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 267px;
}
.copyrights_container p{
	margin: 0;
	padding: 0;

	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

/* Main Index.html*/

.slider_container{
	position: relative;

	margin-bottom: 40px;
	padding-top: 235px;
}
.slider_list{
	margin: 0;
	padding: 0;

	text-align: center;

	list-style: none;
}
.slider_slide{
	display: none;
}
.slider_slide p{
	width: 700px;
	margin: 0 auto 30px;

	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	color: #ffffff;
}
.slider_slide .main_btn{
	padding: 9px 41px 11px;

	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	text-shadow: 0 2px 5px rgba(162, 32, 11, 0.76);
}
.slider_controls{
	position: absolute;
	bottom: 23px;
	z-index: 20;
}
.slider_controls label{
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 5px;

	font-size: 0px;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;

	box-sizing: border-box;
	cursor: pointer;
}
.slider_controls label:hover,
.slider_controls label:focus{
	background-color: rgba(255, 255, 255, 0.4);
}
.slider_controls label:active{
	background-color: rgba(255, 255, 255, 1);
}
#product_1:checked ~ .container #slide_1,
#product_2:checked ~ .container #slide_2,
#product_3:checked ~ .container #slide_3 {
  display: block;
}
#product_1:checked ~ .container label[for="product_1"],
#product_2:checked ~ .container label[for="product_2"],
#product_3:checked ~ .container label[for="product_3"]{
	background-color: rgba(255, 255, 255, 1);
}
#product_1:checked ~ .container {
  background-color: #849d8f;
  background-image: url("../img/icecream_bg_1.png");
}
#product_2:checked ~ .container {
  background-color: #8996a6;
  background-image: url("../img/icecream_bg_2.png");
}
#product_3:checked ~ .container {
  background-color: #9d8b84;
  background-image: url("../img/icecream_bg_3.png");
}

.bonuses_container{
	display: flex;
  justify-content: space-between;
	margin-bottom: 40px;
}
.bonuses_block{
	display: flex;
	flex-direction: column;
	width: 48.866%;
	padding: 16px 20px 24px;

	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;

	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 15px;
}
.bonuses_block p{
	margin: 0;
	padding: 0;
}
.bonuses_block .bonuses_block_title{
	margin-bottom: 15px;

	font-size: 35px;
	line-height: 41px;
}
.bonuses_block .main_btn{
	align-self: flex-end;
	margin-top: 44px;
	/* margin-left: auto; */
	padding: 11px 23px 13px 23px;

	border-radius: 14%/50%;
}
.bonuses_block_raspberry{
	background-color: #5d0f1d;
	background-image: url('../img/bonuses_bg_1.jpg');

}
.bonuses_block_chocolate{
	background-color: #462c22;
	background-image: url('../img/bonuses_bg_2.jpg');
}

.goods_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.goods_item{
	position: relative;
	width: 23.3%;
	margin-right: 2.25%;

	text-align: center;

	border-radius: 1px;
}
.goods_item:nth-of-type(4n){
	margin-right: 0;
}
.goods_img_block{
	width: 100%;
	margin-bottom: 12px;

	font-size: 0;
	line-height: 0;

	border-radius: 50%;

	overflow: hidden;
}
.goods_item_hit::before{
	content: "";

	position: absolute;
	z-index: 10;

	display: block;
	width: 61px;
	height: 61px;

	background-color: #ffffff;
	background-image: url('../img/hit_icon.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.goods_item h3{
	margin: 0;
	margin-bottom: 18px;
	padding: 0;

	font-size: 16px;
	font-weight: 500;
}
.goods_price{
	position: absolute;
	top:47%;
	z-index: 10;

	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;

	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.goods_price span{
	font-size: 30px;
}
.goods_view_btn{
	position: absolute;
	z-index: 30;
	display: none;
	padding: 12px 18px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.goods_item:hover{
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0px 13px rgba(255, 255, 255, 0.2);
}
.goods_item:hover .goods_view_btn{
	display: inline-block;
}

.features_container{
	width: 100%;
	padding: 25px 20px 22px;
	margin-bottom: 40px;

	background-color: #eee2ca;
	background-image: url('../img/features_bg.jpg');
	background-position: 0 0;
	background-repeat: repeat;
	border-radius: 15px;
}
.features_container p{
	margin: 0;
	padding: 0;
}
.features_container b{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}
.features_list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}
.features_string{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2px;
}
.features_item{
	position: relative;

	width: 48.752%;
	margin-top: 20px;
	padding-left: 57px;
}
.features_item svg{
	position: absolute;
	top: -12px;
	left: 0;

	fill: #323232;
}

.columns{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog_item{
	width: 48.866%;
	padding: 24px 20px 26px;

	background-color: #ffffff;
	background-image: url('../img/blog_bg.jpg');
	background-position: center left;
	background-repeat: no-repeat;
	border-radius: 15px;
}
.blog_item p{
	margin: 0;
	margin-bottom: 2px;
	padding: 0;

	font-weight: 500;
}
.blog_item a{
	/* display: inline-block; */
	width: 295px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;

	background-color: rgba(255, 255, 255, 0.8);
}
.blog_item a:hover,
.blog_item a:focus{
	color: #e84d37;
}
.blog_item a:active{
	color: #e84d37;
}

.subscribe_container{
	width: 48.866%;
	padding: 5px 6px;

	background-color: #f8f7f4;
	background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 2.5%, #92cdff 2.5%, #92cdff 5%, #ffffff 5%, #ffffff 7.5%, #fe9e90 7.5%, #fe9e90 10%, #ffffff 10%, #ffffff 12.5%, #92cdff 12.5%, #92cdff 15%, #ffffff 15%, #ffffff 17.5%, #fe9e90 17.5%, #fe9e90 20%, #ffffff 20%, #ffffff 22.5%, #92cdff 22.5%, #92cdff 25%, #ffffff 25%, #ffffff 27.5%, #fe9e90 27.5%, #fe9e90 30%, #ffffff 30%, #ffffff 32.5%, #92cdff 32.2%, #92cdff 35%, #ffffff 35%, #ffffff 37.5%, #fe9e90 37.5%, #fe9e90 40%, #ffffff 40%, #ffffff 42.5%, #92cdff 42.5%, #92cdff 45%, #ffffff 45%, #ffffff 47.5%, #fe9e90 47.5%, #fe9e90 50%, #ffffff 50%, #ffffff 52.5%, #92cdff 52.5%, #92cdff 55%, #ffffff 55%, #ffffff 57.5%, #fe9e90 57.5%, #fe9e90 60%, #ffffff 60%, #ffffff 62.5%, #92cdff 62.5%, #92cdff 65%, #ffffff 65%, #ffffff 67.5%, #fe9e90 67.5%, #fe9e90 70%, #ffffff 70%, #ffffff 72.5%, #92cdff 72.5%, #92cdff 75%, #ffffff 75%, #ffffff 77.5%, #fe9e90 77.5%, #fe9e90 80%, #ffffff 80%, #ffffff 82.5%, #92cdff 82.5%, #92cdff 85%, #ffffff 85%, #ffffff 87.5%, #fe9e90 87.5%, #fe9e90 90%, #ffffff 90%, #ffffff 92.5%, #92cdff 92.5%, #92cdff 95%, #ffffff 95%, #ffffff 97.5%, #fe9e90 97.5%, #fe9e90 99%, #ffffff 99%, #ffffff 100%);
	border-radius: 15px;
}
.subscribe_block{
	padding: 30px 21px 33px;
}
.subscribe_block p{
	margin: 0;
	margin-bottom: 35px;
	padding: 0;

	color: #5a5a5a;
}
.subscribe_block.main_form,
.subscribe_form.main_form{
	box-shadow: none;
}
.subscribe_form{
	display: flex;
}
.subscribe_form .input_field{
	flex-grow: 1;
	margin: 0;
	margin-right: 8px;
	padding: 10px;
	padding-left: 12px;

	font-size: 16px;
	line-height: 24px;
}
.subscribe_form .main_btn{
	padding: 8px 18px;

	font-size: 18px;
	line-height: 25px;
	font-weight: bold;

	border-radius: 15%/50%;
}

.contacts_container{
	position: relative;
}
.map_block{
	width: 100%;
	height: 430px;

	background-color: #ece5c9;
	background-image: url('../img/map.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}
#map{ /* рекомендация Google*/
  height: 100%;
}
.contacts_main{
	position: absolute;
	top: 62px;
	right: 2.25%;

	width: 302px;
	padding: 30px 25px;
	padding-left: 24px;

	background-color: #fdfefe;
	border-radius: 15px;
}
.contacts_main p{
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.contacts_main span{
	display: block;

	margin: 0;
	margin-top: 2px;
	margin-bottom: -2px;
	padding: 0;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.contacts_tel{
	display: block;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 2px;

	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #323232;
}
.contacts_btn{
	margin-top: 25px;
	padding: 10px 28px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;

	border-radius: 8%/50%;
}

/* Main Catalog.html */
.inner_page .contacts_header{
	margin-bottom: 0;
}

.pages_navigation{
	position: absolute;
	top:95px;
}
.pages_navigation a{
	font-size: 14px;
	line-height: 16px;
}

.page_title{
	margin: 0;
	padding: 0;

	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog_filter{
	display: flex;
	flex-wrap: wrap;
	width: 860px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.filter_item{
	background-color: rgba(255, 255, 255, 0.2);
}
.filter_sort_select{ /*С селектом надо доработать, пока не знаю как*/
	color: #ffffff;

	background-color: transparent;
	border: none;
}
.filter_sort_select:hover{
	color: #323232;

	background-color: #ffffff;
}
.price_range_control_line{
	position: relative;

	width: 176px;
	height: 4px;

	background-color: rgba(255, 255, 255, 0.5);
}
.price_range_control_line_center{
	position: absolute;
	left: 35px;

	width: 80px;
	height: 4px;

	background-color: rgba(255, 255, 255, 1);
}
.price_range_control{
	position: relative;

	width: 20px;
	height: 20px;

	font-size: 0px;

	/* background-color: #ffffff; */
	background-image: radial-gradient(ellipse at center, rgba(171,171,171,1) 0%,rgba(171,171,171,1) 16%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 100%);
	border: none;
	border-radius: 50%;

	cursor: pointer;
}
.price_range_control:hover{
	transform: scale(1.2);
}
.price_range_control_left,
.price_range_control_right{
	position: absolute;
	top: -8px;
}
.price_range_control_left{
	left: 15px;
}
.price_range_control_right{
	right: 42px;
}
.filter_fat input[type="radio"]{
	display: none;
}
.filter_fat label{
	position: relative;

	margin-left: 25px;

	cursor: pointer;
}
.filter_fat label::before{
	content: '';

	position: absolute;
	top: -5px;
	left: -25px;

	display: inline-block;
	width: 22px;
	height: 22px;

	background-color: transparent;
	border: 3px solid rgba(255, 255, 255, 1);
	border-radius: 50%;

	box-sizing: border-box;
	opacity: 0.8;
}
.filter_fat label:hover::before{
	opacity: 1;
}
.filter_fat input[type="radio"]:disabled + label::before{
	opacity: 0.4;
}
.filter_fat input[type="radio"]:checked + label::before{
	background-image: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 41%,rgba(255,255,255,0) 72%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
}
.filter_btn{
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid #ffffff;
	border-radius: 10px;

	box-sizing: border-box;
}
.filter_btn:hover{
	color: #323232;

	background: #fbfcfb;
	border-color: transparent;
}
.filter_btn:active{
	background-color: #ededed;
	border-color: transparent;
	box-shadow: inset 0 2px 1px #696969;
	box-sizing: border-box;
	outline-color: transparent;
}

.catalog_pagination{
	text-align: right;
}
.catalog_pagination a{
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.catalog_pagination a:hover,
.catalog_pagination a:focus{
	background-color: rgba(255, 255, 255, 0.582);
}
.catalog_pagination a:active{
	color: #323232;

	background-color: rgba(255, 255, 255, 1);
}
.catalog_pagination .catalog_pagination_current,
.catalog_pagination .catalog_pagination_current:hover,
.catalog_pagination .catalog_pagination_current:focus,
.catalog_pagination .catalog_pagination_current:active{
	color: #323232;

	background-color: rgba(255, 255, 255, 1);
}

/* Modal and pop-up */

.pop-up_search,
.pop-up_login,
.pop-up_basket{
	position: absolute;
	top: 59px;
}
.pop-up_search{
	right: 0px;
}
.pop-up_login{
	right: 485px;
}
.search_form,
.login_form{
	padding: 20px 15px;
	border-radius: 5px;
}
.search_form .input_field,
.login_form .input_field{
	width: 100%;
	padding: 9px;
	padding-left: 12px;

	font-size: 14px;
	line-height: 24px;
}
.search_form{
	width: 341px;
}
.login_form{
	width: 277px;
	padding: 20px 18px;
}
.login_form .input_field{
	margin-bottom: 20px;
}
.login_form .standart_link{
	font-size: 13px;
	line-height: 24px;

	color: #323232;
}
.login_form_bottom{
	display: flex;
	justify-content: space-between;
}
.login_form .standart_link:hover,
.login_form .standart_link:focus{
	color: #ffbc9e;
}
.login_form .standart_link:active{
	color: #ffbc9e;
}
.login_form .main_btn{
	padding: 10px 24px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;

	border-radius: 18%/50%;
}
.login_form_bottom_links{
	/* text-align: right; */
}

.pop-up_basket{
	width: 540px;

	border-radius: 5px;
}
.basket_item p{
	font-size: 13px;
	line-height: 16px;
}
.basket_item span{
	color: #999999;
}
.basket_total_cost{
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.feedback_form{
	width: 477px;
}
.feedback_form.main_form{
	box-shadow: none;
}
.feedback_form p{
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}
.feedback_form .input_field{
	font-size: 16px;
	line-height: 24px;
}

/* выявленные неисправности:
1. подсветка кнопки каталог при наведдении на всплыв.меню
2. подчеркивание ссылок в хедере
3. увеличенный маргин над кнопкой в макете 900px в малинке-шоколадке
4. прыгают поля в IE 
5. наведение на карточки
6. попробовать перенести элементы управления на карте
7. текст в разделе блог
8. навигация страниц вверху каталога
9. значек прав в футере*/