html {
  box-sizing: border-box;
}
*, *::after,*::before{
  box-sizing: inherit;
}
.box_sizing_content{
  box-sizing: content-box;
}
body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Trebuchet MS', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;

	background-color: #849d8f;

	box-sizing: border-box;
}
.inner_page{
	color: #ffffff;
}

a{
	color: #ffffff;
	text-decoration: none;
}

.main_btn{
	color: #ffffff;

	background-color: #f26843;
	background-image: linear-gradient(to top, rgba(231, 74, 53, 1) 0%, rgba(242, 104, 67, 1) 50%);
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.main_btn:hover,
.main_btn:focus{
	background-color: #ffffff;
	background-image: linear-gradient(to top, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 50%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.main_btn:active{
	background-color: #f26843;
	background-image: linear-gradient(to bottom, rgba(231, 74, 53, 1) 0%, rgba(242, 104, 67, 1) 50%);
	box-shadow: 0 -2px 2px rgba(172, 16, 0, 0.64);
}

.main_form{
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.input_field{
	background-color: #ffffff;
	border: 1px solid rgba(154, 154, 154, 0.52);
	border-radius: 5px;
}
.input_field:hover{
	border-width: 2px;
}
.input_field:focus{
	border-color: rgba(46, 136, 228, 0.52);
	border-width: 2px;
}
.standart_link{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}
.standart_link:hover,
.standart_link:focus{
	color: #ffbc9e;

	border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.standart_link:active{
	color: #ffbc9e;

	border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.main_nav .current_page,
.main_nav .current_page:hover,
.main_nav .current_page:active{
	color: #ffffff;

	background-color: #d07058;
	border: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	font-size: 0px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
.container{
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
}
.wrap{
  padding: 0 2.25%;

  background-color: rgb(250, 179, 188);
}

/* Header */

.header_main{
  display: flex;
  justify-content: space-between;
}
.header_left_column{
  width: 46.667%;
}
.header_right_column{
  width: 22.25%;
}
.main_menu{
	list-style: none;
}
.main_nav a{
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;

	background-color: transparent;
	border-bottom: 1px solid #b2b2b2;
}
.main_nav a:hover,
.main_nav a:focus{
	color: #333333;

	background-color: #f7f6f3;
	border-bottom: none;
}
.main_nav a:active{
	background-color: #ededed;
	box-shadow: inset 0 2px 1px #696969;
}

.catalog_container{
	width: 143px;
	margin: 0;
	padding: 0;

	border-radius: 5px;
	list-style: none;
}
.catalog_container a{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;

	border-bottom: none;
}
.catalog_container .catalog_novelty{
	font-weight: 700;
}
.catalog_container a:hover,
.catalog_container a:focus{
	background-color: #fbded7;
}
.catalog_container a:active{
	background-color: #f6b5a5;
	box-shadow: none;
}

.user_nav a{
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
}
.user_nav a:hover,
.user_nav a:focus{
	color: #323232;

	background-color: #ffffff;
}

.contacts_header p{
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}
.contacts_header a{
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}
.contacts_header a:hover,
.contacts_header a:hover,
.contacts_header a:active{
	color: #ffbc9e;
}

/* Footer */

.footer_main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
}

.social_btn_container{
	width: 23.298%;
	
	background-color: #000;
}
.social_btn_item{
	margin-right: 9px;

	font-size: 0px;
}
.social_btn_item:last-child{
	margin-right: 0;
}
.social_btn_item svg{
	width: 38px;
	height: 38px;

	vertical-align: middle;

	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	fill: rgba(255, 255, 255, 0.8);
	
}
.social_btn_item:hover svg,
.social_btn_item:focus svg{
	border-color: rgba(255, 255, 255, 0.7);

	fill: #ffffff;
}
.social_btn_item:active svg{
	border-color: rgba(255, 255, 255, 0.7);

	fill: rgba(233, 233, 233, 1);
}

.info_links_container{
	display: flex;
	justify-content: center;
	width: 48.866%;

	background-color: #000;
}
.info_links_block{
	margin: 0;
	padding: 0;

	list-style: none;
}
.info_links_block:first-child{
	margin-right: 33px;
}
.info_links_block a{
	font-size: 13px;
	line-height: 18px;
}
.info_links_block span{
	position: relative;

	font-weight: 700;
}
.info_links_block span::before{
	content: '';

	position: absolute;
	top: -3px;

	display: block;
	width: 15px;
	height: 13px;
	margin: 5px -20px;

	background-image: url(/img/heart.svg);
}

.copyrights_container{
	/* margin-left: auto; */
}
.copyrights_container p{
	margin: 0;
	padding: 0;

	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

/* Main Index.html*/

.slider_container{
	margin-bottom: 40px;
}
.slider_slide{
	background-position: top center;
	background-repeat: no-repeat;
}
.slide_first{
	background-image: url(../img/icecream_group_1.png);
}
.slide_second{
	background-image: url(../img/icecream_group_2.png);
}
.slide_third{
	background-image: url(../img/icecream_group_3.png);
}
.slider_slide p{
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	color: #ffffff;
}
.slider_switcher_list{
  margin: 0;
  padding: 0;

	list-style: none;
}
.slider_switcher_list li{
  display: inline;
}
.slider_switcher{
	width: 21px;
  height: 21px;

	font-size: 0px;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;

	box-sizing: border-box;
	cursor: pointer;
}
.slider_switcher:hover,
.slider_switcher:focus{
	background-color: rgba(255, 255, 255, 0.4);
}
.slider_switcher:active{
	background-color: rgba(255, 255, 255, 1);
}
.slider_switcher_active,
.slider_switcher_active:hover,
.slider_switcher_active:focus,
.slider_switcher_active:active{
	background-color: rgba(255, 255, 255, 1);
}

.bonuses_container{
  display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.bonuses_block{
	width: 48.866%;
	padding: 18px 20px;

	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;

	border-radius: 15px;
}
.bonuses_block p{
	margin: 0;
	padding: 0;
}
.bonuses_block_raspberry{
	background-color: #5d0f1d;
	background-image: url('../img/bonuses_bg_1.jpg');/* */
	background-position: top center;
	background-repeat: no-repeat;
}
.bonuses_block_chocolate{
	background-color: #462c22;
	background-image: url('../img/bonuses_bg_2.jpg');/* */
	background-position: top center;
	background-repeat: no-repeat;
}
.bonuses_block_title{
	font-size: 35px;
	line-height: 41px;
}

.goods_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}
.goods_item{
	width: 23.3%;
}
.goods_img_block{
	width: 100%;

	font-size: 0;
	line-height: 0;

	border-radius: 50%;

	overflow: hidden;
}
.goods_img_block img{
	width: 100%;
	height: 100%;
}
.goods_item_hit::before{
	content: "";

	display: block;
	width: 61px;
	height: 61px;

	background-color: #ffffff;
	background-image: url('../img/hit_icon.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.goods_item_title{
	font-weight: 500;
	color: #ffffff;
}
.goods_price{
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;

	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.goods_price span{
	font-size: 30px;
}
.goods_view_btn{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.features_container{
	width: 100%;
	padding: 26px 20px;
	margin-bottom: 40px;

	background-color: #eee2ca;
	background-image: url('../img/features_bg.jpg');
	background-position: 0 0;
	background-repeat: repeat;
	border-radius: 15px;
}
.features_list{
	list-style: none;
}
.features_container p{
	margin: 0;
	padding: 0;
}
.features_container b{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.columns{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog_item{
	width: 48.866%;
	padding: 26px 20px;

	background-color: #ffffff;
	background-image: url('../img/blog_bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 15px;
}
.blog_item p{
	margin: 0;
	padding: 0;

	font-weight: 500;
}
.blog_item a{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;

	text-decoration: underline;
}
.blog_item a:hover,
.blog_item a:focus{
	color: #e84d37;
}
.blog_item a:active{
	color: #e84d37;
}

.subscribe_container{
	width: 48.866%;
	padding: 5px 6px;

	background-color: #f8f7f4;
	background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 2.5%, #92cdff 2.5%, #92cdff 5%, #ffffff 5%, #ffffff 7.5%, #fe9e90 7.5%, #fe9e90 10%, #ffffff 10%, #ffffff 12.5%, #92cdff 12.5%, #92cdff 15%, #ffffff 15%, #ffffff 17.5%, #fe9e90 17.5%, #fe9e90 20%, #ffffff 20%, #ffffff 22.5%, #92cdff 22.5%, #92cdff 25%, #ffffff 25%, #ffffff 27.5%, #fe9e90 27.5%, #fe9e90 30%, #ffffff 30%, #ffffff 32.5%, #92cdff 32.2%, #92cdff 35%, #ffffff 35%, #ffffff 37.5%, #fe9e90 37.5%, #fe9e90 40%, #ffffff 40%, #ffffff 42.5%, #92cdff 42.5%, #92cdff 45%, #ffffff 45%, #ffffff 47.5%, #fe9e90 47.5%, #fe9e90 50%, #ffffff 50%, #ffffff 52.5%, #92cdff 52.5%, #92cdff 55%, #ffffff 55%, #ffffff 57.5%, #fe9e90 57.5%, #fe9e90 60%, #ffffff 60%, #ffffff 62.5%, #92cdff 62.5%, #92cdff 65%, #ffffff 65%, #ffffff 67.5%, #fe9e90 67.5%, #fe9e90 70%, #ffffff 70%, #ffffff 72.5%, #92cdff 72.5%, #92cdff 75%, #ffffff 75%, #ffffff 77.5%, #fe9e90 77.5%, #fe9e90 80%, #ffffff 80%, #ffffff 82.5%, #92cdff 82.5%, #92cdff 85%, #ffffff 85%, #ffffff 87.5%, #fe9e90 87.5%, #fe9e90 90%, #ffffff 90%, #ffffff 92.5%, #92cdff 92.5%, #92cdff 95%, #ffffff 95%, #ffffff 97.5%, #fe9e90 97.5%, #fe9e90 99%, #ffffff 99%, #ffffff 100%);
	border-radius: 15px;
}
.subscribe_block{
	padding: 32px 21px; 
}
.subscribe_block p{
	margin: 0;
	padding: 0;

	color: #5a5a5a;
}
.subscribe_form .input_field{
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 24px;
}

.map_block{
	width: 100%;
	height: 430px;

	background-color: #ece5c9;
	background-image: url('../img/map.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

.contacts_main{
	width: 302px;
	padding: 30px 25px;

	background-color: #fdfefe;
	border-radius: 15px;
}
.contacts_main p{
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.contacts_main span{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.contacts_tel{
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #323232;
}
.contacts_btn{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

/* Main Catalog.html */

.pages_navigation a{
	font-size: 14px;
	line-height: 16px;
}

.page_title{
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog_filter{
	display: flex;
	width: 860px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.filter_item{
	background-color: rgba(255, 255, 255, 0.2);
}
.filter_sort_select{ /*С селектом надо доработать, пока не знаю как*/
	color: #ffffff;

	background-color: transparent;
	border: none;
}
.filter_sort_select:hover{
	color: #323232;

	background-color: #ffffff;
}
.price_range_control_line{
	position: relative;

	width: 176px;
	height: 4px;

	background-color: rgba(255, 255, 255, 0.5);
}
.price_range_control_line_center{
	position: absolute;
	left: 35px;

	width: 80px;
	height: 4px;

	background-color: rgba(255, 255, 255, 1);
}
.price_range_control{
	position: relative;

	width: 20px;
	height: 20px;

	font-size: 0px;

	/* background-color: #ffffff; */
	background-image: radial-gradient(ellipse at center, rgba(171,171,171,1) 0%,rgba(171,171,171,1) 16%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 100%);
	border: none;
	border-radius: 50%;

	cursor: pointer;
}
.price_range_control:hover{
	transform: scale(1.2);
}
.price_range_control_left,
.price_range_control_right{
	position: absolute;
	top: -8px;
}
.price_range_control_left{
	left: 15px;
}
.price_range_control_right{
	right: 42px;
}
.filter_fat input[type="radio"]{
	display: none;
}
.filter_fat label{
	position: relative;

	margin-left: 25px;

	cursor: pointer;
}
.filter_fat label::before{
	content: '';

	position: absolute;
	top: -5px;
	left: -25px;

	display: inline-block;
	width: 22px;
	height: 22px;

	background-color: transparent;
	border: 3px solid rgba(255, 255, 255, 1);
	border-radius: 50%;

	box-sizing: border-box;
	opacity: 0.8;
}
.filter_fat label:hover::before{
	opacity: 1;
}
.filter_fat input[type="radio"]:disabled + label::before{
	opacity: 0.4;
}
.filter_fat input[type="radio"]:checked + label::before{
	background-image: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 41%,rgba(255,255,255,0) 72%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
}
.filter_btn{
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid #ffffff;
	border-radius: 10px;

	box-sizing: border-box;
}
.filter_btn:hover{
	color: #323232;

	background: #fbfcfb;
	border-color: transparent;
}
.filter_btn:active{ /* Активное состояние не могу победить, прыгает надпись и рамку над тенью*/
	background-color: #ededed;
	border-color: transparent;
	box-shadow: inset 0 2px 1px #696969;
	box-sizing: border-box;
	outline-color: transparent;
}

.catalog_pagination{
	text-align: right;
}
.catalog_pagination a{
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.catalog_pagination a:hover,
.catalog_pagination a:focus{
	background-color: rgba(255, 255, 255, 0.2);
}
.catalog_pagination a:active{
	color: #323232;

	background-color: rgba(255, 255, 255, 1);
}
.catalog_pagination .catalog_pagination_current,
.catalog_pagination .catalog_pagination_current:hover,
.catalog_pagination .catalog_pagination_current:focus,
.catalog_pagination .catalog_pagination_current:active{
	color: #323232;

	background-color: rgba(255, 255, 255, 1);
}

/* Modal and pop-up */

.search_form, 
.login_form{
	border-radius: 5px;
}
.search_form .input_field,
.login_form .input_field{
	font-size: 14px;
	line-height: 24px;
}
.search_form{
	width: 341px;
}

.login_form{
	width: 277px;
}
.login_form .standart_link{
	font-size: 13px;
	line-height: 24px;

	color: #323232;
}
.login_form .standart_link:hover,
.login_form .standart_link:focus{
	color: #ffbc9e;
}
.login_form .standart_link:active{
	color: #ffbc9e;
}

.pop-up_basket{
	width: 540px;

	border-radius: 5px;
}
.basket_item p{
	font-size: 13px;
	line-height: 16px;
}
.basket_item span{
	color: #999999;
}
.basket_total_cost{
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.feedback_form{
	width: 477px;
}
.feedback_form p{
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}
.feedback_form .input_field{
	font-size: 16px;
	line-height: 24px;
}
